<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>510636062208-fq6hh99ai2ov9qd5c36qdak116fbc916.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.510636062208-fq6hh99ai2ov9qd5c36qdak116fbc916</string>
	<key>API_KEY</key>
	<string>AIzaSyDdm0ktOGgDkeXGE0CUaZl_fgBh_FmHPdk</string>
	<key>GCM_SENDER_ID</key>
	<string>510636062208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>alisa.MyMentalHealthApp</string>
	<key>PROJECT_ID</key>
	<string>mymentalhealthapp-b5e1b</string>
	<key>STORAGE_BUCKET</key>
	<string>mymentalhealthapp-b5e1b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:510636062208:ios:d2fa12df984b3ff6b44ae5</string>
</dict>
</plist>